/* General Project Styles */

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  display: block;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Helper classes */

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.hidden {
  display: none;
}

.no-borders {
  border: 0;
}

.no-float {
  float: none !important;
}
