/* Put All Fonts Here */
/* Import Libs SASS/CSS */
/* General Project Styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  position: relative;
  display: block;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.6; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* Typography */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

/* Placeholder styles */
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

input:focus:required:invalid,
textarea:focus:required:invalid {
  color: #666; }

input:required:valid,
textarea:required:valid {
  color: #666; }

/* Helper classes */
.clearfix::after {
  display: table;
  clear: both;
  content: ''; }

.hidden {
  display: none; }

.visible {
  display: block; }

.no-borders {
  border: 0; }

.no-float {
  float: none; }

/* ALWAYS END */
/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media (max-width: 1200px) {
  /* */ }

/* Medium Devices, Desktops */
@media (max-width: 992px) {
  /* */ }

/* Small Devices, Tablets */
@media (max-width: 768px) {
  /*Disable Animation on Mobile Devices */
  .animated {
    -webkit-transition-property: none !important;
    /*CSS transitions */
    transition-property: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    /*CSS transforms */
    transform: none !important;
    /*CSS animations */
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  /* */ }

/* Custom, iPhone Retina */
@media (max-width: 320px) {
  /* */ }

/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media (min-width: 320px) {
  /* */ }

/* Extra Small Devices, Phones */
@media (min-width: 480px) {
  /* */ }

/* Small Devices, Tablets */
@media (min-width: 768px) {
  /* */ }

/* Medium Devices, Desktops */
@media (min-width: 992px) {
  /* */ }

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  /* */ }
